# SPDX-FileCopyrightText: 2026 The Nikasha Authors
# SPDX-License-Identifier: Apache-2.0
*                        @rakshit-737
/.github/                @rakshit-737
/src/nikasha/code/gitio.py   @rakshit-737
/src/nikasha/repro/      @rakshit-737
