{# SPDX-FileCopyrightText: 2026 The Nikasha Authors #}
{# SPDX-License-Identifier: Apache-2.0 #}
{# Appendix D: symbol missing here, present in other versions. #}
We couldn't find `{{ symbol }}` in {{ target }}.
It is defined in {{ defined_in | ranged }}.
Could you confirm the exact version or commit you tested, for example with a permalink to the definition?
